*.o
*.sdf
*.obj
*.eix
*.epk
*.suo
*.a
/src/dump/dump_proto/Debug/*
/src/dump/dump_proto/Release/*
/src/dump/lzo/Debug/*
/src/dump/lzo/Release/*
*.core
/src/client/CWebBrowser/Debug/*
/src/client/CWebBrowser/Distribute/*
/src/client/CWebBrowser/Release/*
/src/client/EffectLib/Debug/*
/src/client/EffectLib/Distribute/*
/src/client/EffectLib/Release/*
/src/client/EffectLib/VTune/*
/src/client/EffectLib/EffectLib___Win32_MfcDebug/*
/src/client/EffectLib/EffectLib___Win32_MfcRelease/*
/src/client/EterBase/Debug/*
/src/client/EterBase/Distribute/*
/src/client/EterBase/Release/*
/src/client/EterBase/VTune/*
/src/client/EterBase/MfcDebug/*
/src/client/EterBase/MfcRelease/*
/src/client/EterGrnLib/Debug/*
/src/client/EterGrnLib/Distribute/*
/src/client/EterGrnLib/Release/*
/src/client/EterGrnLib/VTune/*
/src/client/EterGrnLib/MfcDebug/*
/src/client/EterGrnLib/MfcRelease/*
/src/client/EterImageLib/Debug/*
/src/client/EterImageLib/Distribute/*
/src/client/EterImageLib/Release/*
/src/client/EterImageLib/VTune/*
/src/client/EterImageLib/MfcDebug/*
/src/client/EterImageLib/MfcRelease/*
/src/client/EterLib/Debug/*
/src/client/EterLib/Distribute/*
/src/client/EterLib/Release/*
/src/client/EterLib/VTune/*
/src/client/EterLib/MfcDebug/*
/src/client/EterLib/MfcRelease/*
/src/client/EterLocale/Debug/*
/src/client/EterLocale/Distribute/*
/src/client/EterLocale/Release/*
/src/client/EterLocale/VTune/*
/src/client/EterLocale/MfcDebug/*
/src/client/EterLocale/MfcRelease/*
/src/client/EterPack/Debug/*
/src/client/EterPack/Distribute/*
/src/client/EterPack/Release/*
/src/client/EterPack/VTune/*
/src/client/EterPack/MfcDebug/*
/src/client/EterPack/MfcRelease/*
/src/client/EterPythonLib/Debug/*
/src/client/EterPythonLib/Distribute/*
/src/client/EterPythonLib/Release/*
/src/client/EterPythonLib/VTune/*
/src/client/EterPythonLib/eterPythonLib___Win32_MfcDebug/*
/src/client/EterPythonLib/eterPythonLib___Win32_MfcRelease/*
/src/client/GameLib/Debug/*
/src/client/GameLib/Distribute/*
/src/client/GameLib/Release/*
/src/client/GameLib/VTune/*
/src/client/GameLib/MfcDebug/*
/src/client/GameLib/MfcRelease/*
/src/client/MilesLib/Debug/*
/src/client/MilesLib/Distribute/*
/src/client/MilesLib/Release/*
/src/client/MilesLib/VTune/*
/src/client/MilesLib/mileslib___Win32_MfcDebug/*
/src/client/MilesLib/MfcRelease/*
/src/client/obj/*
/src/client/PRTerrainLib/Debug/*
/src/client/PRTerrainLib/Distribute/*
/src/client/PRTerrainLib/Release/*
/src/client/PRTerrainLib/VTune/*
/src/client/PRTerrainLib/PRTerrainLib___Win32_MfcDebug/*
/src/client/PRTerrainLib/PRTerrainLib___Win32_MfcRelease/*
/src/client/ScriptLib/Debug/*
/src/client/ScriptLib/Distribute/*
/src/client/ScriptLib/Release/*
/src/client/ScriptLib/VTune/*
/src/client/ScriptLib/eterPythonLib___Win32_MfcDebug/*
/src/client/ScriptLib/eterPythonLib___Win32_MfcRelease/*
/src/client/ScriptLib/Python-2.2/*
/src/client/SpeedTreeLib/Debug/*
/src/client/SpeedTreeLib/Distribute/*
/src/client/SpeedTreeLib/Release/*
/src/client/SpeedTreeLib/VTune/*
/src/client/SpeedTreeLib/SpeedTreeLib___Win32_MfcDebug/*
/src/client/SpeedTreeLib/SpeedTreeLib___Win32_MfcRelease/*
/src/client/SphereLib/Debug/*
/src/client/SphereLib/Distribute/*
/src/client/SphereLib/Release/*
/src/client/SphereLib/VTune/*
/src/client/SphereLib/SphereLib___Win32_MfcDebug/*
/src/client/SphereLib/SphereLib___Win32_MfcRelease/*
/src/client/UserInterface/Debug/*
/src/client/UserInterface/Distribute/*
/src/client/UserInterface/Release/*
/src/client/UserInterface/VTune/*